{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block body %}
<h1>{{body}}</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">City</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
                <td>{{person.city}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
    