{% extends 'base.html' %}

{% block title %}Update Recipe{% endblock title %}

{% block body %}

<div class="container">
    <form method = "POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name = "name" value = "{{ recipe.name }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingredients</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name = "ingredient" value = "{{ recipe.ingredient }}">
        </div>
        <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name = "instruction">{{ recipe.instruction }}</textarea>
            <label for="floatingTextarea">Instruction</label>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Time</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name = "time" value = "{{ recipe.time }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Level</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name = "level" value = "{{ recipe.level }}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

{% endblock body %}